.herotext {
	font-size: 1.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0 2em;
	background-image: url("/ds1.png");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	height: 90vh;
}

.hero {
	margin-top: 5em;
	color: white;
}


.section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 3em 0;
	margin-top: 2em;
}

.sectionpop {
	background: rgb(221, 30, 30);
	background: linear-gradient(90deg, rgba(221, 30, 30, 1) 0%, rgba(221, 30, 30, 1) 9%, rgba(249, 190, 74, 1) 100%);
	padding: 3em 0;
	margin-top: 2em;
}

.pophead {
	color: white;
	margin-bottom: 2em;
}

.exchead {
	margin-bottom: 2em;
}
.cta {
	padding: 0.25em;
	border: none;
	border-radius: 1em;
	background-color: #dd1d1d;
	color: white;
}



.cta:hover{
	text-decoration: underline;
}

.cta-grp {
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.subhead {
	padding: 0 5em;
	text-align: center;
	margin-top: 0;
	color: white;
}

.subhead-bc {
	color: black;
}

.category-cards {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
	flex-wrap: wrap;
}

.home-sec-head {
	margin-top:  4em;
}


@media only screen and (max-width: 1024px) {
	.herotext {
		font-size: 1em;
	}
	.hero {
		margin-top: 2em;
	}
	.subhead {
		padding: 0;
	}

	.home-sec-head {
		margin-top: 2em;
	}
}