.card {
	background: rgb(221, 30, 29);
	background: linear-gradient(90deg, rgba(221, 30, 29, 1) 0%, rgba(255, 97, 96, 1) 30%, rgba(235, 105, 51, 1) 100%);
	display: flex;
	align-items: center;
	height: auto;
	padding-left: 10px;
	padding: 0 4em;
	justify-content: center;
	color: #fff;
	

}

.offer-text p {
	color: #fff;
	flex-grow: 1;
	text-align: center;

}

