.logout {
	display: flex;
	align-items: center;
	text-decoration: underline;
}

.logout:hover{
	text-decoration-thickness: 0.12em;
}

.profile-container {
	display: flex;
	margin-top: 2em;
	justify-content: space-around;

}


.prfile {
	text-align: center;
}

@media only screen and (max-width: 750px) {


	.profile-container {
		flex-direction: column;
		justify-content: center;
		align-items: first baseline;
		margin-left: 3em
	}
}