button {
	background-color: transparent;
	border: none;
	font-size: 1.5em;
	padding: 0.2em;
}

span {
	font-size: 1.5em;
}

.quantity-selector {
	border: 1px solid #e65656;
	border-radius: 0.25em;
	padding: 0.25em;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2em;
}