.s-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.s-card h2 {
	font-size: 2em;
}

.search-button {
	font-size: 1.5em;
}

.search-button:hover {
}

.s-card input {
	font-size: 2em;
	min-width: 40%;
	border: 1px solid #ec8383;
	border-radius: 0.15em  ;
	padding: 0.25em;
}


.search-input-container {
	margin-bottom: 5em
}


.search-results {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.coll-item {
	border-radius: 0.25em;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ec8383;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #ec8383;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #ec8383;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #ec8383;
}

@media only screen and (max-width: 650px) {
	.search-input-container {
		margin: 0 1em;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.s-card input {
		width: 70%;
		font-size: 1.5em;
		padding: 0.25em;
		margin-bottom: 0;
	}

}